NEXT_PUBLIC_BASE_URL = http://localhost:3000 

DATABASE_URL = your_postgresql_db_password

BETTER_AUTH_SECRET= random_secret # random secret
BETTER_AUTH_URL= http://localhost:3000  # Base URL of your app

GOOGLE_CLIENT_SECRET = your_google_client_secret
GOOGLE_CLIENT_ID = your_google_client_id

OPENAI_API_KEY = your_openai_api_key

R2_TOKEN = your_cloudflare_r2_token
R2_ACCOUNT_ID = your_cloudflare_r2_account_id
R2_ACCESS_KEY_ID = your_cloudflare_r2_access_key_id
R2_SECRET_ACCESS_KEY = your_cloudflare_r2_secret_access_key
R2_BUCKET_NAME = your_cloudflare_r2_bucket_name
R2_S3_CLIENT_URL = your_cloudflare_r2_s3_client_url

FISH_AUDIO_API_KEY = your_fish_audio_api_key

SKIP_ENV_VALIDATION = false # Set to true in production to skip env var validation during production